.App {
  background-color: hsl(246, 73%, 5%);
  text-align: center;
  width: 100%;
  margin: auto;
  min-height: 100vh;
}

.main {
  width: 88%;
  margin: auto;
}

.container { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-portion {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 60%;
}

@media screen and (max-width: 960px) {
  .table-portion {
    width: 100%;
  }
}

.tools-portion {
  flex: 1;
}